@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
:root {
    /* --progress: 0%; */
    --progress-1: 0%;
    --progress-2: 0%;
    --progress-3: 0%;
    --progress-4: 0%;
    --progress-5: 0%;
    --progress-6: 0%;
    --progress-7: 0%;

    --horizontal-padding: 20px;

    --color-code-percentage: #00247D;
    --color-code-amount: #6D8EFD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eeeff1;
    font-family: 'Oxygen', sans-serif;
}

.container {
    padding: 5px 40px;
}

.color-code {
    width: 40px;
    height: 40px;
}

#percentage {
    background: var(--color-code-percentage);
}

#amount {
    background: var(--color-code-amount);
}

/*****************/

.calculators {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(5, 300px);
    /* grid-auto-rows: ; */
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: ;

    position: relative;
    background: #FFF;
    font-size: 1.3rem;
    border-radius: 5px;
    /* border: 1px solid black; */

    box-shadow: 0 10px 6px -6px #CDCDCF;
}

.header {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
    color: #FFF;
    background: #1460F2;
    color: ;
    border-radius: 5px;

    padding: 5px var(--horizontal-padding);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--horizontal-padding);

    height: auto;
}

.content > * {}

input {
    /* TOO MUCH REPETITION HERE*/
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    background: inherit;
    /* border-bottom: 2px solid #000; */
    width: 50px;
    /* margin-bottom: 15px; */
    background: #1460F2;
    color: #FFF;
}

input:focus {
    outline: none;
}

/* BUTTON */

button {
    padding: .8rem 1.2rem;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 0 5px #FFF;
    /* margin-right: 1em; */
}

button {
    background: #1460F2;
    /* border: 1px solid red; */
    border: none;
    border-radius: 3px;

    text-decoration: none;
}

button:hover {
    background: #517BFF;
    box-shadow: inset 0 0 0 8px #FFF;
}

/* button:active {
    background: var(--button-active);
}

button:visited {
    background: var(--button-visited);
} */

/*******/

.bar {
    position: relative;

    width: 100%;
    height: 20px;
    /* margin-top: 50px; */
    background: #1460F2
}

.starting-point, .ending-point, .end {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 100%;

    color: #FFF;
}

.starting-point {
    background: var(--color-code-percentage);
}

.ending-point {
    /* left: 20%; */
    /* left: 20%; */

    background: var(--color-code-amount);
    transition: left 2s;
}

.end {
    right: 0;

    background: green;
}

.progress {
    position: relative;
    /* width: 1%; */
    /* width: var(--progress); */
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
    background: #0051B6;
    transition: width 2s;

    
    text-align: center;
}

.percent-value {
    color: #FFF;
}

.limit {
    position: absolute;
    right: -1px;
    display: flex;
    justify-content: center;
    width: 1px;
    height: 100%;
    background: #0b3e9c;
}

.limit:before {
    content: "↓";
    position: absolute;
    top: -20px;
    background: ;
    font-size: 15px;
}

#progress-1 {
    width: var(--progress-1)
}

#progress-2 {
    width: var(--progress-2)
}

#progress-3 {
    width: var(--progress-3)
}

#progress-4 {
    width: var(--progress-4)
}

#progress-5 {
    width: var(--progress-5)
}

#progress-6 {
    width: var(--progress-6)
}

#progress-7 {
    width: var(--progress-7)
}