@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .group {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    font-size: 0.8rem;
} */

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}


/*****APP*****/

.calculator {
    width: 450px;
    height: 450px;
    background: #e1f0fa;
}

/***************/

.info-display {}

/* .sale-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 2.5rem;
} */

.price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5rem;
}

.currency-sign {
    padding: 10px;
    font-size: 50%;
}

.sale-price {

}

.info {
    /* display: flex;
    justify-content: space-between; */


    /* padding: 0 80px; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* I was using justify-self instead of justify-content ... */
    align-items: center;

    text-align: center;
    font-size: 0.8rem;
}


/******************/

.parameters {
    
    background: #303F9F;

    color: #FFF;
}

.buying-price {

}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    
    
}

.data {
    display: flex;
    flex-direction: column;

    padding: 0 10px;
}