@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* NOT RESPONSIVE YET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .group {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    font-size: 0.8rem;
} */

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

/*****APP*****/

.calculator {

    /* TEST */

    display: grid;
    grid-template-rows: 1fr 1fr auto;
    

    /********/

    width: 370px;
    height: 550px;
    padding: 15px 0 0 0;

    background: #e1f0fa;

    border: 2px solid rgba(128, 128, 128, 0.11);
    border-radius: 7px;

}

/***************/

.info-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .sale-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 2.5rem;
} */

.price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5rem;
}

.currency-sign {
    padding: 10px;
    font-size: 50%;
}

.sale-price {}

.highlight {
    padding: 2px 10px;

    background: #303F9F;
    color: #FFF;

    border-radius: 5px;
}

.total {

}

.info {
    /* display: flex;
    justify-content: space-between; */
    /* padding: 0 80px; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* I was using justify-self instead of justify-content ... */
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.group > h3 {
    flex: 1;
}

/******************/

.parameters {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #303F9F;
    color: #FFF;
}

.buying-price {}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.data {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

/** CALCULATE **/

.calculate-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    background: #30BD9A;
    color: #FFF;

    border: none;
}