@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.group {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}


/*****APP*****/

.calculator {
    display: grid;
    grid-template-rows: 2fr 2fr 0.5fr;

    width: 350px;
    height: 350px;
    background: #e1f0fa;
}

/***************/

.info-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .sale-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 2.5rem;
} */

.price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5rem;
}

.sale-price {

}

.currency-sign {
    padding: 10px;
    font-size: 50%;
}

.info {
    display: flex;
    justify-content: space-between;

    /* padding: 0 80px; */
}

/******************/

.parameters {
    display: flex;
    flex-direction: column;

    background: #303F9F;

    color: #FFF;
}

.buying-price {

}

.row {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.data {
    
}